body {
  background-color: black;
  text-align: center;
}

header--main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.header--secondary {
  color: #ffffff;
  font-size: 42px;
  font-weight: 300;
}

.header--sub-header {
  font-size: 21px;
  color: gray;
}

.link--cta {
  color: aquamarine;
  font-size: 16px;
}
